html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    background-color: beige;
}

.calculator-body {
    box-sizing: content-box;
    width: 600px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 2px solid black;
}

.calculator-result, .operation-container, .calculator-contents {
    box-sizing: content-box;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border: 1px solid black;
}

.calculator-result {
    font-size: 80px;
    padding-right: 20px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    user-select: text;
}

.operation-container {
    justify-content: space-evenly;
    gap: 16px;
}

.operation {
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 7;
    border: 1px solid black;
}

.calculator-contents {
    height: auto;
    gap: 16px;
}

.digit-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 16px;
    border: 1px solid black;
}

.digit {
    height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(33.33333333% - 16px);
    border: 1px solid black;
}

.clear {
    font-size: 40px;
    flex-grow: 80;
}