html {
    box-sizing: border-box;
    height: 100%;
    --s: 160px; /* control the size */
    --c1: #AACCB1;
    --c2: #D3E2B6;
    background:
      conic-gradient(at 25% 25%,#0000 75%,var(--c1) 0)
       0 calc(3*var(--s)/4),
      conic-gradient(#0000 75%,var(--c2) 0) 
       calc(var(--s)/-8) calc(5*var(--s)/8),
      conic-gradient(at 25% 75%,var(--c1) 25%,var(--c2) 0);
    background-size: var(--s) var(--s);
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.calculator-body {
    box-sizing: content-box;
    width: 600px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: beige;
    border: 2px solid black;
}

.calculator-result, .operation-container, .calculator-contents {
    box-sizing: content-box;
    display: flex;
    justify-content: flex-end;
    height: 100px;
}

.calculator-result {
    font-size: 80px;
    padding-right: 20px;
    align-items: center;
    color: white;
    background-color: black;
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    user-select: text;
}

.operation-container {
    justify-content: space-evenly;
    gap: 16px;
}

.operation {
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 6;
    background-color: cadetblue;
    border: 1px solid black;
}

.calculator-contents {
    height: auto;
    gap: 16px;
}

.digit-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 16px;
}

.digit {
    height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(33.33333333% - 16px);
    background-color: lightslategray;
    border: 1px solid black;
}

.clear {
    font-size: 40px;
    flex-grow: 80;
    background-color: brown;
}

.eval {
    background-color: darkolivegreen;
}

button {
    border-radius: 10px;
}

button:active {
    transform: scale(0.98);
}